body {
  background: #0f172a;
  color: #e5e7eb;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 350px;
  background: #020617;
  padding: 20px;
  border-radius: 14px;
  text-align: center;
}

.search {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #22c55e;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.card {
  margin-top: 15px;
  background: #020617;
  padding: 15px;
  border-radius: 10px;
}
